{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  购物车
{% endblock %}

{% block content %}

<style>

  .container {
    margin-bottom: 10px !important;
  }
  
  .total {
    background-color: cornsilk;
  }

  main {
    background-image: url('{% static 'img/bg.png' %}');
  }
  
</style>

<div class="container">
  <h3>购物车</h3>
  <table class="striped highlight centered">
    <thead>
      <tr>
        <th>图片</th>
        <th>商品</th>
        <th>数量</th>
        <th>删除</th>
        <th>单价</th>
        <th>小计</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td class="img-td">
              <a href="{{ product.get_absolute_url }}">
                <img class="inline-img" src="{% if product.image %}{{ product.image.url }}
                {% else %}{% static 'img/no.PNG' %}{% endif %}">
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
              <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                {% csrf_token %}
                <button class="btn btn-small" type="submit"><i class="material-icons">edit</i></button>
              </form>
            </td>
            <td><a href="{% url 'cart:cart_remove' product.id %}"><i class="material-icons" style="color:red;">delete_forever</i></a></td>
            <td class="num">${{ item.price }}</td>
            <td class="num">${{ item.total_price }}</td>
          </tr>
        {% endwith %}
      {% endfor %}
      
      {% if cart.coupon %}
        <tr class="subtotal">
          <td>合计</td>
          <td colspan="4"></td>
          <td class="num">${{ cart.get_total_price | floatformat:"2" }}</td>
        </tr>
        <tr>
          <td>
            "{{ cart.coupon.code }}" 优惠码
            ({{ cart.coupon.discount }}% off)
          </td>
          <td colspan="4"></td>
          <td class="num neg">
            - ${{ cart.get_discount|floatformat:"2" }}
          </td>
        </tr>
      {% endif %}
      <tr class="total">
        <td>总计</td>
        <td colspan="4"></td>
        <td class="num">
          ${{ cart.get_total_price_after_discount|floatformat:"2" }}
        </td>
      </tr>
      
    </tbody>
  </table>
  
  {% if recommended_products %}
  <div class="recommendations cart">
    <div class="row">
    <h5>购买该商品的用户同时购买:</h5>
    {% for p in recommended_products %}
    <div class="col s12 m2">
      <div class="card">
        <div class="card-image">
          <a href="{{ p.get_absolute_url }}">
            <img src="{% if p.image %}{{ p.image.url }}{% else %}
            {% static 'img/no.PNG' %}{% endif %}">
          </a>
        </div>
        <div class="card-content truncate">
          <p><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></p>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
  {% endif %}
  
  <br/>
  <p style="margin-bottom:0;display:inline-block">使用优惠码:</p>
  <form action="{% url 'coupons:apply' %}" method="post">
    {{ coupon_apply_form }}
    <button class="btn" tyle="submit">提交</button>
    {% csrf_token %}
  </form>
  <br/>
  <a href="{% url 'shop:product_list' %}" class="btn waves-effect waves-light blue lighten-3">继续购物</a>
  <a href="{% url 'orders:order_create' %}" class="btn waves-effect waves-light blue lighten-2" name="action">结算</a>
</div>

<script>
</script>

{% endblock %}