{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  购物车
{% endblock %}

{% block content %}
<style>
    main {
        background-image:url({% static 'img/bg.png' %});
    }
</style>
<div class="center-align" style="">
    <h1>空空如也</h1>

    <a class="btn" href="/">去购买</a>
</div>

{% endblock %}