{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    订单信息
{% endblock %}

{% block content %}

<style>

    .offset-m3 {
        padding-top: 15px !important;
    }

    h2 {
        border-left: 6px solid #f33c3ca1;
    }
    
    main {
        background-image: url('{% static 'img/bg.png' %}');
    }
</style>

<div class="container">
    <h2>订单信息</h2>
</div>

<div class="container center-align">
    
    <div>
        <h4>你的订单</h4>
        
        <ul>
            {% for item in cart %}
            <li>
                {{ item.quantity }} * {{ item.product.name }}
                <span>${{ item.total_price|floatformat:"2" }}</span>
            </li>
            {% endfor %}
            {% if cart.coupon %}
            <li>
                "{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% off)
                <span> -${{ cart.get_discount|floatformat:"2" }}</span>
            </li>
            {% endif %}
        </ul>
        <p>总计: ${{ cart.get_total_price_after_discount|floatformat:"2" }}</p>
    </div>
    
    <div class="container" style="background:white">
        <div class="row">
            <div class="col m6 offset-m3 s12">
                    <form class="col s12" method="POST" action=".">
                      <div class="row">
                        <div class="input-field col s12">
                          {{ form.email }}
                          <label for="id_email">电子邮箱</label>
                        </div>
                        <div class="input-field col s12">
                          {{ form.first_name }}
                          <label for="id_first_name">名</label>
                        </div>
                        <div class="input-field col s12">
                          {{ form.last_name }}
                          <label for="id_last_name">姓</label>
                        </div>
                        <div class="input-field col s12">
                          {{ form.city }}
                          <label for="id_city">城市</label>
                        </div>
                        <div class="input-field col s12">
                          {{ form.address }}
                          <label for="id_address">地址</label>
                        </div>
                        <div class="input-field col s12">
                          {{ form.postal_code }}
                          <label for="id_postal_code">邮编</label>
                        </div>
                        <div class="input-field col s12">
                            {% csrf_token %}
                            <button class="btn" type="submit">去付款</button>
                        </div>
                      </div>
                    </form>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}