<html> 
<body> 
  <h2>My Shop</h2> 
  <p> 
    发票号： {{ order.id }}</br> 
    <span class="secondary"> 
      {{ order.created|date:"M d, Y" }} 
    </span> 
  </p> 
 
  <h3>账单信息</h3> 
  <p> 
    {{ order.first_name }} {{ order.last_name }}<br> 
    {{ order.email }}<br> 
    {{ order.address }}<br> 
    {{ order.postal_code }}, {{ order.city }} 
  </p> 
 
  <h3>商品信息</h3> 
  <table> 
    <thead> 
      <tr> 
        <th>商品</th> 
        <th>单价</th> 
        <th>数量</th> 
        <th>小计</th> 
      </tr> 
    </thead> 
    <tbody> 
      {% for item in order.items.all %} 
        <tr class="row{% cycle "1" "2" %}"> 
          <td>{{ item.product.name }}</td> 
          <td class="num">${{ item.price }}</td> 
          <td class="num">{{ item.quantity }}</td> 
          <td class="num">${{ item.get_cost }}</td> 
        </tr> 
      {% endfor %} 
      <tr class="total"> 
        <td colspan="3">总计</td> 
        <td class="num">${{ order.get_total_cost }}</td> 
      </tr> 
    </tbody> 
  </table> 
     
  <span class="btn {% if order.paid %}green{% else %}red{% endif %} right"> 
    {% if order.paid %}已付{% else %}未付款{% endif %} 
  </span> 
</body> 
</html>