{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}


{% block content %}
    
    <div class="parallax-container">
        <div class="parallax">
            <img src="https://source.unsplash.com/random"></img>
        </div>
    </div>
    
    <div class="section white" style="background-image:url('{% static 'img/bg.png' %}')">
        <div class="row container">
            <div class="col s12 m12 l12">
                <h2 class="header">{{ product.name }}</h2>
                <div class="card horizontal">
                    <div class="card-image">
                        <img  style="max-height:500px;" class="materialboxed" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no.PNG'%}{% endif %}"></img>
                        <!--<img src="https://source.unsplash.com/random" class="materialboxed" style="max-height:500px;">-->
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p class="flow-text">{{ product.description }}</p>
                            <div class="card-action">
                                <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
                                <p class="right" style="margin:0px;">${{ product.price }}</p>
                            </div>
                        </div>
                        <div class="card-action">
                            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                <div class="browser-default left">
                                    {{ cart_product_form }}
                                </div>
                                {% csrf_token %}
                                <button class="btn waves-effect wave-light btn-small right" type="submit">加入购物车</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% if recommended_products %}
    <div class="section" style="background-image:url('{% static 'img/bg.png' %}')">
        <div class="row container">
            <div class="col s12 m12 l12">
                <h5 class="header">购买该商品的用户同时购买:</h5>
                {% for product in recommended_products %}
                <div class="col s12 m2">
                    <div class="card hoverable">
                        <div class="card-image">
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no.PNG'%}{% endif %}">
                            </a>
                            <!--<a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>-->
                        </div>
                      
                        <div class="card-content truncate">
                            <span class="card-title">{{ product.name }}</span>
                            ${{ product.price }}
                            {{ product.description }}
                        </div>
                    </div>
                 </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    
    
    <div class="parallax-container">
        <div class="parallax">
            <img src="https://source.unsplash.com/daily"></img>
        </div>
    </div>
    
    
{% endblock %}