{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}

<style>
    main {
        background-image:url({% static 'img/bg.png' %});
    }
</style>

<div class="row">
  
  <div class="col s12 m4 l3">
    <h3>分类</h3>
    <ul>
      <li>
        {% if not category %}
        <blockquote><a href="{% url 'shop:product_list' %}">全部</a></blockquote>
        {% else %}
        <a href="{% url 'shop:product_list' %}">全部</a>
        {% endif %}
      </li>
      {% for c in categories %}
        <li>
          {% if category.slug == c.slug %}
          <blockquote><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></blockquote>
          {% else %}
          <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
  
  
  <div class="col s12 m8 l9">
    <h3>{% if category %}{{ category.name }}{% else %}商品
    {% endif %}</h3>
    
    <div class="row">
    {% for product in products %}
      <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <a href="{{ product.get_absolute_url }}">
              <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no.PNG'%}{% endif %}" style="max-height:165px;">
            </a>
            <span class="card-title">{{ product.name }}</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"  href="{{ product.get_absolute_url }}"><i class="material-icons">add</i></a>
          </div>
          
          <div class="card-content truncate">
            ${{ product.price }}
            {{ product.description }}
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
    
    
  </div>
  
</div>




  
  
{% endblock %}