{% extends "shop/base.html" %}
{% load static %}

{% block content %}

<style>
    main {
        background-image: url('{% static 'img/bg.png' %}');
    }
</style>

<div class="container">
    <h2>付款失败</h2>
    <p>在付款过程中出错，付款失败</p>
    <p>你可以重新下单或者联系客服！</p>
</div>
{% endblock %}