{% extends "shop/base.html" %}
{% load static %}

{% block content %}

<style>
    main {
        background-image: url('{% static 'img/bg.png' %}');
    }
</style>

<div class="container">
    <h2>付款成功</h2>
    <p>你的订单已成功付款</p>
    <p>发票以通过邮件的形式发送到你的邮箱中，请注意查收。</p>
</div>
{% endblock %}