{% extends "shop/base.html" %}
{% load static %}

{% block title %}付款{% endblock %}

{% block content %}
<style>

  .validate {
    border-bottom: 1px solid teal;
    height: 80px;
  }

  main {
      background-image: url('{% static 'img/bg.png' %}');
  }
</style>

<div class="container">
  <h2>使用信用卡付款</h2>
  <div class="container">
    <div class="row">
      <form action="." id="payment" method="post">
        <div class="input-field col s12">
          <label for="card-number">卡号</label>
          <div id="card-number" class="validate"></div>
        </div>

        <div class="input-field col s12">    
          <label for="cvv">CVV</label>
          <div id="cvv" class="validate"></div>
        </div>

        <div class="input-field col s12">    
          <label for="expiration-date">有效期</label>
          <div id="expiration-date" class="validate"></div>
        </div>
    
        <input type="hidden" id="nonce" name="payment_method_nonce" value="">
        {% csrf_token %}
        <button class="btn" type="submit">付款</button>
      </form>
    </div>
  </div>
</div>
  
  
  <!-- 加载客户端组件. -->
  <script src="https://js.braintreegateway.com/web/3.29.0/js/client.min.js"></script>
  <!-- 加载Hosted Fields组件. -->
  <script src="https://js.braintreegateway.com/web/3.29.0/js/hosted-fields.min.js"></script>
  <script>
    var form = document.querySelector('#payment');
    var submit = document.querySelector('input[type="submit"]');

    braintree.client.create({
      authorization: '{{ client_token }}'
    }, function (clientErr, clientInstance) {
      if (clientErr) {
        console.error(clientErr);
        return;
      }

      braintree.hostedFields.create({
        client: clientInstance,
        styles: {
          'input': {'font-size': '13px'},
          'input.invalid': {'color': 'red'},
          'input.valid': {'color': 'green'}
        },
        fields: {
          number: {selector: '#card-number'},
          cvv: {selector: '#cvv'},
          expirationDate: {selector: '#expiration-date'}
        }
      }, function (hostedFieldsErr, hostedFieldsInstance) {
        if (hostedFieldsErr) {
          console.error(hostedFieldsErr);
          return;
        }

        submit.removeAttribute('disabled');

        form.addEventListener('submit', function (event) {
          event.preventDefault();

          hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
            if (tokenizeErr) {
              console.error(tokenizeErr);
              return;
            }
            // 获取nonce并发送给服务器
            document.getElementById('nonce').value = payload.nonce;
            // 提交表单
            document.getElementById('payment').submit();
          });
        }, false);
      });
    });
  </script>
{% endblock %}